<div class="container-fluid">
    <div class="root-container">
        <div class="row">
            <div class="col-12 top-part">
                <div class="name">
                    <span><i class="fas fa-user-circle profile-pic"></i></span>
                    <span class="profile-name">{{userDetails.name}}</span>    
                    <span class="logout">Log out</span><br>
                    <span class="edit-profile">Edit profile</span>
                </div>
            </div>
            <div class="col-12 bottom-part">
               <div class="row">
                 <div class="col-12 details">
                    <span><i class="fas fa-user-alt profile"></i></span>
                    <span class="profile-title">User Name</span><br>
                    <span class="profile-fullname">{{userDetails.userName}}</span>
                 </div>
                 <div class="col-12 details">
                    <span><i class="fas fa-envelope profile"></i></span>
                    <span class="profile-title">Email</span><br>
                    <span class="profile-fullname">{{userDetails.email}}</span>
                 </div>
                 <div class="col-12 details">
                    <span><i class="fas fa-lock profile"></i></span>
                    <span class="profile-title">Password</span><br>
                    <span class="profile-fullname">{{userDetails.password}}</span>
                 </div>
                 <div class="col-12 details">
                    <span><i class="fas fa-phone-square-alt profile"></i></span>
                    <span class="profile-title">Mobile number</span><br>
                    <span class="profile-fullname">{{userDetails.phoneNumber}}</span>
                 </div>
                 <div class="col-12 details">
                    <span><i class="fas fa-users profile"></i></span>
                    <span class="profile-title">Team</span><br>
                    <span class="profile-fullname">{{teamString}}</span>
                 </div>
               </div>
            </div>
        </div>
    </div>
</div>