<!-- web-view -->
<div class="container-fluid category-container">
   <div class="row">
      <div class="col-lg-3">
        <div class="card category" style="width: 95%;">
          <img src="../../assets/images/host.jpg" class="card-img-top" alt="host">
          <div class="card-body">
            <h5 class="card-title">Host Your Match</h5>
            <a href="#" class="btn btn-danger">Host</a>
          </div>
        </div>        
      </div>
      <div class="col-lg-3">
        <div class="card category" style="width: 95%;">
          <img src="../../assets/images/squad.jpg" class="card-img-top" alt="squad">
          <div class="card-body">
            <h5 class="card-title">Free</h5>
            <a href="#" class="btn btn-danger">Register</a>
          </div>
        </div>        
      </div>
      <div class="col-lg-3">
        <div class="card category" style="width: 95%;">
          <img src="../../assets/images/duo.jpg" class="card-img-top" alt="duo">
          <div class="card-body">
            <h5 class="card-title">Paid</h5>
            <a href="#" class="btn btn-danger">Register</a>
          </div>
        </div>        
      </div>
      <div class="col-lg-3">
        <div class="card category" style="width: 95%;">
          <img src="../../assets/images/solo.jpeg" class="card-img-top" alt="solo">
          <div class="card-body">
            <h5 class="card-title">TDM</h5>
            <a href="#" class="btn btn-danger">Register</a>
          </div>
        </div>        
      </div> 
   </div>
</div>
